.formQueue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  gap: 12px;
}

.listQueue {
  display: flex;
  list-style-type: none;
  margin: 48px auto 100px;
  justify-content: center;
  gap: 78px 16px;
  max-width: 944px;
  flex-wrap: wrap;
}

.clear {
  margin-left: 80px;
}
